@import "tailwindcss";

@layer utilities{
    .brand-name{
        font-family: "Dancing Script", cursive;
    }
    .brand-color{
        color: #281a17;
    }
    .brand-bg{
        background: #281a17;
    }
    .scroll-text{
        animation: scroll 20s linear infinite;
    }
    /* Hide scrollbar for Chrome, Safari, firefox and Opera */
    .scrollbar-hide::-webkit-scrollbar {
    display: none;
    }
    .scrollbar-hide {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
    }

}


@keyframes scroll{
    0%{transform: translateX(100%) }
    100%{transform: translateX(-100%);}
}


